// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
// #include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include "keys_de.h"

#define TD(name, ...) name: name { \
  compatible = "zmk,behavior-tap-dance"; \
  #binding-cells = <0>; \
  tapping-term-ms = <150>; \
  bindings = __VA_ARGS__; \
};

#define COMBO(name, key_positiones, binding) name { \
  timeout-ms = <100>; \
  key-positions = <key_positiones>; \
  bindings = <binding>; \
};

#define STICKY_TOGGLE_TAP_DANCE(name, modifier) name: name { \
  compatible = "zmk,behavior-tap-dance"; \
  #binding-cells = <0>; \
  tapping-term-ms = <200>; \
  bindings = <&sk modifier>, <&kt modifier>; \
}; 

/ {
    combos {
      compatible = "zmk,combos";
      COMBO(combo_ae, 4 15, &kp DE_A_UMLAUT)
      COMBO(combo_ue, 3 15, &kp DE_U_UMLAUT)
      COMBO(combo_oe, 16 15, &kp DE_O_UMLAUT)
      COMBO(combo_bsp, 8 7, &kp BSPC)
      COMBO(combo_tab, 0 1, &kp TAB)
      COMBO(combo_enter, 1 2, &kp ENTER)
    };
    behaviors {
      ht: hold_tap {
        compatible = "zmk,behavior-hold-tap";
        #binding-cells = <2>;
        flavor = "tap-preferred";
        tapping-term-ms = <220>;
        quick-tap-ms = <150>;
        require-prior-idle-ms = <100>;
        bindings = <&kp>, <&kp>;
      };
      
    };

    keymap {
        compatible = "zmk,keymap";
        default_layer {
            bindings = <
            &kp DE_J      &kp DE_D      &kp DE_U      &kp DE_A      &kp DE_X          &kp DE_P      &kp DE_H      &kp DE_L      &kp DE_M      &kp DE_W
            &kp DE_C      &kp DE_T      &kp DE_I      &kp DE_E      &kp DE_O          &kp DE_N      &kp DE_R      &kp DE_S      &kp DE_G      &kp DE_Q
            &kp DE_F      &kp DE_V      &none      &none      &kDE_p B          &DE_kp Z      &DE_kp Y      &DE_kp COMMA  &DE_kp DOT    &DE_kp K
                                             &none      &none          &none      &none
            >;
       };

       second_layer {
            bindings = <
            &trans       &kp N1     &kp N2     &kp N3        &trans          &kp HOME   &kp PG_DN  &kp PG_UP  &kp END    &kp COLON
            &trans       &kp N4     &kp N5     &kp N6        &trans          &kp LEFT   &kp DOWN   &kp UP   &kp RIGHT   &kp SEMI
            &caps_word   &kp N7     &kp N8     &kp N9        &kp N0          &trans     &trans     &trans     &trans     &trans
                                               &trans        &kp ESC         &trans     &trans
            >;
        };

       third_layer {
            bindings = <
            &trans     &trans     &kp LDE_BRC   &kp DE_RBRC   &kp DE_CARET      &kp DE_EXCL   &kp DE_LT     &kp DE_GT     &kp DE_EQ     &kp DE_AMPS
            &kp DE_BLSH   &kp DE_FLSH   &kp DE_LBRC   &kp DE_RBRC   &kp DE_STAR       &kp DE_QMARK  &kp DE_LBRC   &kp DE_RBRC  &kp DE_COLON   &kp DE_AT
            &kp DE_HASH   &kp DE_DOLLAR &kp DE_PIPE   &kp DE_TILDE  &kp DE_APOS       &kp DE_PLUS   &kp DE_PRCNT  &kp DE_DQT   &kp DE_SQT     &kp DE_SEMI
                                             &trans     &trans         &trans      &trans
            >;
       bt_controle_layer {
            bindings = <
           &sys_reset  &trans     &trans     &trans    &bt BT_SEL 0    &trans     &trans     &trans     &trans    &sys_reset
          &bootloader  &trans     &trans     &trans    &bt BT_SEL 1    &trans     &trans     &trans     &trans    &bootloader
            &trans     &trans     &trans    &bt BT_CLR &bt BT_SEL 2    &trans     &trans     &trans     &trans     &trans
                                            &trans     &trans          &trans     &l5
            >;
        };
    };
};
